@import "~materialize-css/dist/css/materialize.min.css";

.item {
    flex: 1 1 200px; 
}
.ots {
    margin-left: 20px;
    margin-right: 20px
}

.horizontal {
    display: flex;
}
body {
    background-image:  url(./фон.jpg) ;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.becc{
    background-color: rgba(95, 136, 175, 0.8);
}

h2, h4 {
    color: #fff;
}

.vertical{
    display: flex;
    flex-flow: column nowrap;
}

.scrol{
    height: 620px;
    overflow-y:auto;
    width: 450px;
}

.centr{
    margin-left: auto;
    margin-right: auto;
}
.catr{
    width: 450px;
}

.cen{
    display: flex;
    align-items: center ;
    text-align:center;
}
.zag2{
    font-size: 31pt!important;
}
.zag3 input{
    font-size: 15pt!important;
}
.zag4 {
    font-size: 15pt!important;
    height: 45px;
}
.notBor input{
    border-bottom: 0!important;
    color: #fff;
    padding: 0;
    margin-left: auto!important;
    margin-right: auto!important;
    align-items: center!important;
    text-align:center!important;
}
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 1)!important;
    background-color: transparent!important;
    width: 100%!important;

}
.zag1{
    font-size: 35pt!important;
}
.rig {
    text-align:center;
    width: 80px!important;
    height: 30px!important;
}
.btn, .btn-large, .btn-small, .btn-flat {
    padding: 0!important;

}
.ing{
    background-image: url("./krest.png");
    height: 30px;
    width: 50px
}

.tabl {
    max-height: 500px;
    border:2px solid rgba(0, 0, 0, 1);
    overflow-y:auto;
    overflow-x:auto;
    width:100%!important;
}
.text{
    border:2px solid rgba(0, 0, 0, 1);
    color:rgb(255, 255, 255);
}
.yellow{
    background-color: rgb(255, 255, 0);;
}
.green{
    background-color: rgb(0, 255, 0);;
}
.red{
    background-color: rgb(255, 0, 0);;
}
.jir {font-weight:bolder}
table.responsive-table1{width:100%;display:block;position:relative}
table.responsive-table1 td:empty:before{content:'\00a0'}
table.responsive-table1 th,table.responsive-table td{margin:0;vertical-align:top}
table.responsive-table1 th{text-align:left; padding:0; color: rgb(255, 255, 255);}
table.responsive-table1 thead{display:block;float:left ;}
table.responsive-table1 thead tr{display:block;}
table.responsive-table1 thead tr th::before{content:"\00a0"}
table.responsive-table1 tbody{display:block;width:auto;position:relative;white-space:nowrap}
table.responsive-table1 tbody tr{display:inline-block;vertical-align:top}
table.responsive-table1 th{display:block;text-align:right;border:1px solid rgb(0, 0, 0);padding:5px}
table.responsive-table1 td{display:block;min-height:1.25em;text-align:left;color: rgb(255, 255, 255); padding:5px;border:1px solid rgb(0, 0, 0)}
